.header-top {
  border-bottom:1px solid #e8e6e6;
  background-color:#FFF;
}

body {
  font-family: 'Grand Hotel', cursive;
  font-size:30px;
  line-height:1.42857143;
  color:#333;
  background-color:#f8f8f8;
}


.navbar-brand {
  font-size: 32px;
}

.navbar-nav>li>a {
  font-size: 22px;
}

.dropdown-menu>li>a {
  font-size: 17px;
}


